<!-- Pricing table...-->
<div id="pricingCont" class="demo">
    <div class="container">
        <h1 class="text-center text-primary font-weight-bold my-4">Pricing</h1>
        <hr>
        <div class="row">
            <!-- Group A -->
            <div class="col-md-6 col-lg-3">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">Group A</h3>
                    </div>
                    <div class="price-value">
                        <span class="currency">৳</span>
                        <span class="amount">300</span>
                        <span class="duration">/mo</span>
                    </div>
                    <ul class="pricing-content">
                        <li>Activation money back
                            <strong>৳ 15</strong>
                        </li>
                        <li>Per day video earning
                            <strong>৳ 6</strong>
                        </li>
                        <li>Every month you will earn
                            <strong>৳ 180</strong>
                            Only watching video
                        </li>
                        <li>Per referral income
                            <strong>৳ 30</strong>
                        </li>
                        <li>You can make with us
                            <strong>৳ 900</strong>
                        </li>
                    </ul>
                    <div class="pricingTable-signup {{disPackg}}">
                        <a href="/signup">Sign Up</a>
                    </div>
                    <div class="pricingTable-signup {{disNewIDAply}}">
                        {{!-- <a href="#">Sign Up</a> --}}
                        <a type="button" class="btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-lg">Apply</a>
                    </div>

                </div>
            </div>
            <!-- Group B -->
            <div class="col-md-6 col-lg-3">
                <div class="pricingTable blue">
                    <div class="pricingTable-header">
                        <h3 class="title">Group B</h3>
                    </div>
                    <div class="price-value">
                        <span class="currency">৳</span>
                        <span class="amount">500</span>
                        <span class="duration">/mo</span>
                    </div>
                    <ul class="pricing-content">
                        <li>Activation money back
                            <strong>৳ 25</strong>
                        </li>
                        <li>Per day video earning
                            <strong>৳ 10</strong>
                        </li>
                        <li>Every month you will earn
                            <strong>৳ 300</strong>
                            Only watching video
                        </li>
                        <li>Per referral income
                            <strong>৳ 50</strong>
                        </li>
                        <li>You can make with us
                            <strong>৳ 1500</strong>
                        </li>
                    </ul>
                    <div class="pricingTable-signup {{disPackg}}">
                        <a href="/signup">Sign Up</a>
                    </div>
                    <div class="pricingTable-signup {{disNewIDAply}}">
                        {{!-- <a href="#">Sign Up</a> --}}
                        <a type="button" class="btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-lg">Apply</a>
                    </div>
                </div>
            </div>
            <!-- Group C -->
            <div class="col-md-6 col-lg-3">
                <div class="pricingTable blue">
                    <div class="pricingTable-header">
                        <h3 class="title">Group C</h3>
                    </div>
                    <div class="price-value">
                        <span class="currency">৳</span>
                        <span class="amount">1000</span>
                        <span class="duration">/mo</span>
                    </div>
                    <ul class="pricing-content">
                        <li>Activation money back
                            <strong>৳ 50</strong>
                        </li>
                        <li>Per day video earning
                            <strong>৳ 20</strong>
                        </li>
                        <li>Every month you will earn
                            <strong>৳ 600</strong>
                            Only watching video
                        </li>
                        <li>Per referral income
                            <strong>৳ 100</strong>
                        </li>
                        <li>You can make with us
                            <strong>৳ 3000</strong>
                        </li>
                    </ul>
                    <div class="pricingTable-signup {{disPackg}}">
                        <a href="/signup">Sign Up</a>
                    </div>
                    <div class="pricingTable-signup {{disNewIDAply}}">
                        {{!-- <a href="#">Sign Up</a> --}}
                        <a type="button" class="btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-lg">Apply</a>
                    </div>
                </div>
            </div>
            <!-- Group D -->
            <div class="col-md-6 col-lg-3">
                <div class="pricingTable blue">
                    <div class="pricingTable-header">
                        <h3 class="title">Group D</h3>
                    </div>
                    <div class="price-value">
                        <span class="currency">৳</span>
                        <span class="amount">5000</span>
                        <span class="duration">/mo</span>
                    </div>
                    <ul class="pricing-content">
                        <li>Activation money back
                            <strong>৳ 250</strong>
                        <li>Per day video earning
                            <strong>৳ 100</strong>
                        </li>
                        <li>Every month you will earn
                            <strong>৳ 3000</strong>
                            Only watching video
                        </li>
                        <li>Per referral income
                            <strong>৳ 500</strong>
                        </li>
                        <li>You can make with us
                            <strong>৳ 15000</strong>
                        </li>
                    </ul>
                    <div class="pricingTable-signup {{disPackg}}">
                        <a href="/signup">Sign Up</a>
                    </div>
                    <div class="pricingTable-signup {{disNewIDAply}}">
                        {{!-- <a href="#">Sign Up</a> --}}
                        <a type="button" class="btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-lg">Apply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Pricing table END -->