<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>
  {{!-- Orginal Bs --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">


  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <style>
    .circle-group {
      width: 45px;
      height: 45px;
      line-height: 45px;
      border-radius: 50%;
      font-size: 30px;
      color: #fff;
      text-align: center;
      background-color: #4e73df;
    }
  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    {{> profileSidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        {{> profileTopbar}}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Profile</h1>
          </div>

          <div class="row">
            {{#if successfullMess}}
            <div class="container">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{successfullMess}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
            {{/if}}

            {{#if unSuccessfullMess}}
            <div class="container">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{unSuccessfullMess}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
            {{/if}}

            <div class="col-lg-12 mb-4">
              <!-- Simple Tables -->
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Personal Information</h6>
                </div>
                <div class="card-body ">

                  <div class="row text-center">

                    <div class="col-lg col-md">
                      <div class="col mb-2">
                        <div class="text-xs font-weight-bold  text-uppercase text-gray-800 mb-1">User ID</div>
                        <div class="h5 mb-0 font-weight-bold  text-center  m-auto">
                          <strong>{{user_id}}</strong>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg col-md">
                      <div class="col mb-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          {{#equal account_status 'renew needed'}} Previous {{/equal}}
                          Active Group
                        </div>
                        <div class="h5 mb-0 font-weight-bold  text-center circle-group m-auto">
                          {{#if group_type}}
                          {{group_type}}
                          {{else}}
                          ||
                          {{/if}}
                        </div>
                      </div>
                    </div>

                    <div class="col-lg col-md">
                      {{#equal account_status 'pending' }}
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Account Status</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Pending
                          <i class="fas fa-pause-circle fa-1x text-warning"></i>
                        </div>
                      </div>
                      {{/equal}}
                      {{#equal account_status 'active'}}
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Account Status</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Active
                          <i class="fas fa-clipboard-check fa-1x text-success"></i>
                        </div>
                      </div>
                      {{/equal}}
                      {{#equal account_status 'renew needed' }}
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Account Status</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Renew Needed
                          <i class="fas fa-pause-circle fa-1x text-warning"></i>
                        </div>
                      </div>
                      {{/equal}}
                      {{#equal account_status 'block'}}
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Account Status</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Block
                          <i class="fas fa-ban fa-1x text-danger"></i>
                        </div>
                      </div>
                      {{/equal}}

                    </div>
                  </div>
                  <br>
                  <div class="row text-center">
                    <div class="col-lg col-md">
                      Package Used <strong>{{packageUsed}} days.</strong>
                      <p class="text-info">Since, {{dateFormat activationDate "LLL"}} </p>
                    </div>
                  </div>
                  {{#if reNewAccMess}}
                  <div class="container">
                    <div class="alert alert-info alert-dismissible fade show text-danger text-center" role="alert">
                      <strong>You have crossed your maximum earning limit. You have total earned from this current
                        package:{{reNewAccMess}}/-<br> Please reactivate your account again!</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  </div>
                  {{/if}}
                  <hr>

                  <div class="row">
                    <div class="col-lg col-md">
                      Name
                    </div>
                    <div class="col-lg-8 col-md-8">
                      <strong>{{firstName}} {{lastName}}</strong>
                    </div>
                    <div class="col-lg col-md">
                      <i class="fas fa-cog text-gray-500" data-bs-toggle="modal" data-bs-target="#nameModal">
                      </i>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-lg col-md">
                      Email
                    </div>
                    <div class="col-lg-8 col-md-8">
                      <strong>{{email}}</strong>
                    </div>
                    <div class="col-lg col-md">
                      <i class="fas fa-cog text-gray-500" data-bs-toggle="modal" data-bs-target="#emailChangeModal">
                      </i>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-lg col-md">
                      Phone Number
                    </div>
                    <div class="col-lg-8 col-md-8">
                      <strong>{{phone}}</strong>
                    </div>
                    <div class="col-lg col-md">
                      <i class="fas fa-cog text-gray-500" data-bs-toggle="modal" data-bs-target="#phonNumChangeModal">
                      </i>
                    </div>
                  </div>
                  <hr>

                  <span class="badge bg-primary" data-bs-toggle="modal" data-bs-target="#resetPassModal"
                    type="button">Reset Password
                  </span>
                </div>

                <div class="card-footer"></div>
              </div>
            </div>
          </div>

          <!-- Name Modal Form -->
          <div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="nameModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="nameModal">Edit Name</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form action="/profile" method="POST">
                    <div class="row">
                      <input type="hidden" name="user_id" value="{{user_id}}">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                          value="{{firstName}}" name="fName" required>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                          value="{{lastName}}" name="lName">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>

          <!-- Email Change Modal Form -->
          <div class="modal fade" id="emailChangeModal" tabindex="-1" aria-labelledby="emailChangeModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="emailChangeModal">Edit Email</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form action="/profile" method="POST">
                    <div class="row">
                      <input type="hidden" name="user_id" value="{{user_id}}">
                      <div class="col">
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                          value="{{email}}" name="email" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>

          <!-- Phone Number Change Modal Form -->
          <div class="modal fade" id="phonNumChangeModal" tabindex="-1" aria-labelledby="phonNumChangeModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="phonNumChangeModal">Edit Phone Number</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form action="/profile" method="POST">
                    <div class="row">
                      <input type="hidden" name="user_id" value="{{user_id}}">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Phone Number" aria-label="phoneNumber"
                          value="{{phone}}" name="phoneNumber" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>

          <!-- Reset Password Modal Form -->
          <div class="modal fade" id="resetPassModal" tabindex="-1" aria-labelledby="resetPassModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="resetPassModal">Reset Password</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form action="/profile" method="POST">
                    <input type="hidden" name="user_id" value="{{user_id}}">
                    <input type="hidden" name="xyz" value="{{xyz}}">
                    <div class="form-group">
                      <input type="password" class="form-control" id="currentPass" aria-describedby="currentPass"
                        placeholder="Enter Your Current Password" name="currentPass" required>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <input type="password" class="form-control" placeholder="New Password" aria-label="Password"
                          name="newPass" required>
                      </div>
                      <br><br>
                      <div class="col-lg-6">
                        <input type="password" class="form-control" placeholder="Confirm Password"
                          aria-label="Confirm Password" name="confPass" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>

          <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->
      </div>
      <!-- Footer -->
      {{> profileFooter}}
      <!-- End of Footer -->
    </div>
  </div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Orgibal BS-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

</body>

</html>